
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0 20px;
}


header {
    background: transparent;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about {
    margin-bottom: 20px;
}

.about h2 {
    font-size: 2rem;
    color: #ff7e5f;
}

.about p {
    font-size: 1rem;
    color: #555;
}


.image-section {
    text-align: center;
    margin-bottom: 20px;
}

.image-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #feb47b;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #777;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    .about h2, .image-section h2 {
        font-size: 1.5rem;
    }
}
